@tailwind base;
@tailwind components;
@tailwind utilities;

.parallax {
    perspective: 4000px;
  }
  
  .parallax__wrapper {
    transform-style: preserve-3d;
    transform: translateZ(0);
    will-change: transform;
  }

  .paralllax {
    perspective: 2px;
  }
  
  .parallax__wrapper {
    transform-style: preserve-3d;
    transform: translateZ(0);
    will-change: transform;
  }

/* --------------------------------

File#: _1_sticky-hero
Title: Sticky Hero
Descr: A sticky hero section that reveals its content on scroll
Usage: Pour faire du mouvement

-------------------------------- */
.emologo {
  justify-content: left;
  border-left: 0ch !important;
}

.sticky-hero {
    position: relative;
    z-index: 1;
  }
  
  .sticky-hero__media {
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateZ(0);
  }

  
  
  
  
  .sticky-hero--media-is-fixed.sticky-hero--scale .sticky-hero__media {
    transform: scale(0.9);
  }
  
  
  
  .sticky-hero__content {
    position: relative;
    z-index: 2;
    height: 125vh;
    display: flex;
    justify-content: right;
    padding-right: 6rem;
    padding-left: 6rem;
    align-items: center;
    transform: translateZ(0);
  }

  

/* --------------------------------

File#: _1_sticky-banner
Title: Sticky Banner
Descr: A sticky banner that slides in passed a target element or a scrolling offset.
Usage: codyhouse.co/license

-------------------------------- */
.sticky-banner {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100%;
  @apply z-10;
  transform: translateY(-100%);
  
  transition: transform 0.3s;
  
}

.sticky-banner--visible {
  transform: translateY(0);
}

.sticky-banner:not(.sticky-banner--visible) {
  box-shadow: none;
}



/* --------------------------------

File#: _1_stacking-cards
Title: Stacking Cards
Descr: Cards stack effect on vertical scrolling
Usage: codyhouse.co/license

-------------------------------- */
.stack-cards {
  --stack-cards-gap: 0.75rem;
  --stack-cards-item-ratio: 2/1;
}
@media (min-width: 64rem) {
  .stack-cards {
    --stack-cards-gap: 1.125rem;
  }
}

.stack-cards__item {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  @apply top-5 lg:top-8;
  height: 0;
  padding-bottom: calc(100%/(var(--stack-cards-item-ratio)));
  transform-origin: center top;
}
.stack-cards__item > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
     object-fit: cover;
}






/* --------------------------------

File#: _1_testimonial
Title: Testimonial
Descr: A testimonial quote 
Usage: codyhouse.co/license

-------------------------------- */
.testimonial__block-wrapper {
  position: relative;
}
.testimonial__block-wrapper blockquote {
  position: relative;
  z-index: 1;
}
.testimonial__block-wrapper .icon {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
}

/* -------------------------------- 

File#: _1_diagonal-section
Title: Diagonal Section
Descr: Section with diagonal edges
Usage: codyhouse.co/license

-------------------------------- */
:root {
  --diagonal-section-offset: 50px;
}

@supports ((-webkit-clip-path: inset(50%)) or (clip-path: inset(50%))) {
  .diagonal-section, .diagonal-section-top.diagonal-section-bottom {
    padding-top: calc(var(--diagonal-section-offset)/2);
    padding-bottom: calc(var(--diagonal-section-offset)/2);
    clip-path: polygon(0% 0%, 100% var(--diagonal-section-offset), 100% 100%, 0% calc(100% - var(--diagonal-section-offset)));
  }

  .diagonal-section--flip-x {
    clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
  }

  .diagonal-section-top {
    padding-top: calc(var(--diagonal-section-offset)/2);
    clip-path: polygon(0% 0%, 100% var(--diagonal-section-offset), 100% 100%, 0% 100%);
  }

  .diagonal-section-top--flip-x {
    clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% 100%, 0% 100%);
  }

  .diagonal-section-top--flip-x.diagonal-section-bottom {
    clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% 100%, 0% calc(100% - var(--diagonal-section-offset)));
  }

  .diagonal-section-bottom {
    padding-bottom: calc(var(--diagonal-section-offset)/2);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% calc(100% - var(--diagonal-section-offset)));
  }

  .diagonal-section-bottom--flip-x {
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
  }

  .diagonal-section-bottom--flip-x.diagonal-section-top {
    clip-path: polygon(0% 0%, 100% var(--diagonal-section-offset), 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
  }

  .diagonal-section-top--flip-x.diagonal-section-bottom--flip-x {
    clip-path: polygon(0% var(--diagonal-section-offset), 100% 0%, 100% calc(100% - var(--diagonal-section-offset)), 0% 100%);
  }
}






/* --------------------------------

File#: _1_drop-cap
Title: Drop Cap
Descr: Make the first letter of a paragraph larger in size
Usage: codyhouse.co/license

-------------------------------- */
:root {
  --drop-cap-lines: 3;
}

.drop-cap::first-letter {
  float: left;
  line-height: 1;
  font-size: calc(1.4em * var(--drop-cap-lines));
  padding: 0 0.125em 0 0;
  text-transform: uppercase;
  @apply text-gray-900;
}